<section class="banner-frame">

    <div class="banner-frame-caption-left">
        <h1 class="caption-text">Mongo</h1>
        <hr>
        <h1 class="caption-text">Scraper</h1>
    </div>

    <img class="responsive-img banner z-depth-2" src="images\npronewindows1_0.png">

    <div class="banner-frame-caption-right">
        <h1 class="caption-text">NPR</h1>
        <hr>
        <h1 class="caption-text">Edition</h1>
    </div>

</section>