<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container foot-pad-adjust">
            © 2019 Copyright <a href="https://github.com/DTHutton" class=""><strong>Derek Hutton</strong></a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/DTHutton/hw-18-mongo-scraper">Github
                Repo</a>
        </div>
    </div>
</footer>