<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo right">Mongo Scraper</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Saved Articles</a></li>
            <li><button class="waves-effect waves-light btn" id="newScrape">Scrape
                    Articles</button></li>
        </ul>
    </div>
</nav>