<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Scraper</title>

    {{!-- CSS --}}
    <link rel="stylesheet" href="styles/normalize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"></script>
    <link rel="stylesheet" href="styles/styles.css">

    {{!-- JavaScript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

</head>

<body>

    {{{body}}}

</body>

</html>