<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Mongo Scraper</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Saved Articles</a></li>
            <li><button class="waves-effect waves-light btn" id="newScrape">Scrape Articles</button></li>
        </ul>
    </div>
</nav>

<div>
    <h1>Stuff and Things</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem consequatur pariatur accusamus repellendus
        expedita amet. Nobis beatae explicabo vero ratione, excepturi enim! Incidunt repudiandae sint, animi commodi
        nostrum sequi?</p>
    <br>
</div>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container foot-pad-adjust">
            © 2019 Copyright <a href="https://github.com/DTHutton" class=""><strong>Derek Hutton</strong></a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/DTHutton/hw-18-mongo-scraper">Github
                Repo</a>
        </div>
    </div>
</footer>